dipy==1.8.0
matplotlib==3.7.2
nibabel==5.1.0
numpy==1.24.4
pandas==2.0.1
PyYAML==6.0
requests==2.27.1
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.12.2
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.64.1
monai==1.4.0

